<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav th:replace="fragment :: page-header"></nav>
   <div>
       <h2>Books</h2>
       <ul>
           <li th:each="book: ${books}">
               <a th:href="@{'/view/' + ${book.id}}" th:text="${book.bookTitle}"></a>
           </li>
       </ul>
   </div>

</body>
</html>